.weather-card {
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
.weather-card h1{
  color: black;
}
.btns{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.heading-weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}
.center-details{
  display: flex;
  flex-direction: column;
}
.center-details h1{
  color: black;
}
.center-details h2{
  color: black;
}
.center-details h4{
  color: black;
}
.location{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.weather-details .card-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.weatherDetails-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
