.weather-card {
    background: #af04ff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}
.heading-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-weather h2{
    color: black;
    margin-bottom: 2rem;
}
.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.weather-details .card-text {
  display: flex;
  align-items: center;
  gap: 5px;
}