body {
  margin: 0;
  padding: 0;
  background: url('../assets/background.jpg') no-repeat center center fixed; 
  background-size: cover;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 126, 126);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
}
.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  gap: 2rem;
}
.card-container h2 {
  margin-bottom: 1rem;
}
.card-container h4 {
  margin-top: 1rem;
}
